# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# binary files
predictors

# large files
traces/long_trace1.txt
traces/long_trace2.txt
traces/long_trace3.txt

#temp files
~$oject1_Fall24.docx

#output files
short_trace1_output.txt
short_trace2_output.txt
short_trace3_output.txt
long_trace1_output.txt
long_trace2_output.txt
long_trace3_output.txt
output.txt

traces/sec_trace 2.txt
sec_trace2_output.txt
